html {
    width: 100%;
}

body {

  font-family: 'Encode Sans', sans-serif;
  color: red;
  margin: 0;
  background-color: black;
  padding: 0px;
  text-align: center;
}

#Fond {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 100%;
    width: auto; height: auto; z-index: -100;
}

.igo  {
  display: flex;
  flex-direction: column;
}
#NessMEC{
  content: url("NessOK.png");
}

#NessMEC:hover{
content: url("NessDAC.png");
}
